<div class="song">
  <div class="song__header">
    <h3><%= @song.name %> - <%= @song.musician %></h3>
  </div>
  <div class="song__body">
    <% if @song.youtube_url.present? %>
      <div class="song__youtube">
        <div class="media">
          <div class="media__video">
            <div id="player" data-video-id=<%= YoutubeParserHelper.video_id(@song.youtube_url) %>></div>
          </div>
        </div>
        <div class="youtube__bookmarks">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Bookmarks</span>
              <div class="collection">
                <%= render partial: "bookmark", collection: @song.bookmarks %>
              </div>
            </div>
            <div class="card-action">
              <a href="#" id="addBookmark">Add</a>
              <a href="#" id="editBookmark">Edit</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="song__notes">
    </div>
    <div class="song__comments">
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
