<div class="song">
  <div class="song__header">
    <h3><%= @song.name %> - <%= @song.musician %></h3>
  </div>
  <div class="song__body">
    <% if @song.youtube_url.present? %>
      <div class="song__youtube">
        <div class="media">
          <div class="media__video">
            <iframe
               type="text/html"
               width="640"
               height="390"
               src="https://www.youtube.com/embed/<%= YoutubeParserHelper.video_id(@song.youtube_url) %>"
               frameborder="0">
            </iframe>
          </div>
        </div>
        <div class="youtube__bookmarks">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Bookmarks</span>
              <div class="collection">
                <a class="collection-item" href="#!"><span class="badge">0:17</span>Begin of</a>
                <a class="collection-item" href="#!"><span class="badge">1:35</span>Some other part</a>
                <a class="collection-item" href="#!"><span class="badge">14</span> Alan</a>
              </div>
            </div>
            <div class="card-action">
              <a href="#">Add</a>
              <a href="#">Edit</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="song__notes">
    </div>
    <div class="song__comments">
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
